/* variable de colores */

:root {
 
    --rosa: #e9d900;
    --rojo: #D90429;
    --blanco: #ffffff;
    --violetaoscuro:#3a7214;
    --negro: #252a34;
    --gris:darkred;
    --violeta: #b5179e;
    --negro: rgb(39, 37, 37);
}
html {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 7px;
    background: var(--gris);
    object-fit: cover;
    height: 100%;
  
}

html::-webkit-scrollbar-thumb {
    width: 5px;
    background-image: url(img/gip.gif);
    border-radius: 5px;
    height: 30%;
    transform: scale(2);
}
/* Cierre de variable de colores */

/* Acá comienza el header */

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 660px;
    width: 100%;
}
.container-img {
    height: 100%;
    margin: 0;
    width: 50%;
}

.container-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container-logo {
    position: absolute;
    width: 15%;
    margin-top: 2.5rem;
    margin-left: 1%;
}

.logo {
    width: 15%;
}

.container-encabezado {
    background: var(--gris);
    color: var(--blanco);
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 50%;
    margin: 0;
    height: 100%;
}

.icono-menu {
    display: flex;
    justify-content:flex-end;
    font-size: 35px;
    padding: 15px;
}

.texto {
    padding: 0 10%;
    padding-bottom: 14%;
    text-align: end;
    font-size: 28px;
    padding-top: 28%;
    
}

.subtexto {
    font-size: 15px;
}

/* Menú desplegable */

.desplegable {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    padding: 0;
    width: 80%;
}

.menu {
    width: 2.5rem;
    height: 2rem;
    position: absolute;
    top: 0.2%;
    right: 3%;
    font-family: sans-serif;
    margin-top: 2%;
    padding:3px 9px 7px 3px;
    border-radius: 32%;
    font-size: 38px;
    color:var(--violetaoscuro);
    text-align: end;
    transition: right 0.7s;
    justify-content: center;
}

.menu i:hover {
    color: var(--rosa);
}

label {
    overflow: hidden;
}

.closer {
    font-family: sans-serif;
    font-size: 40px;
    color: var(--violetaoscuro);
    text-align: end;
    margin-right: 8%;
    margin-top:5%;
    position: absolute;
    width: 90%;
   
    
}

.closer i {
    transition: 1s;
}

.closer i:hover {
   transform: rotate(280deg);
   color: var(--rosa);
}

.checkbox:checked ~.menu {
   right: 10%;
   border-radius: 0 0.5rem;
}
.right-panel {
    position: absolute;
    background: var(--gris);
    color:r;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 50%;
    margin: 0;
    height: 96%;
    right: -50%;
    display:flex;
    transition: right 0.8s;
}

.checkbox:checked ~.right-panel {
    right: 0;
}

.checkbox {
    display: none;
}

li {
    list-style: none;
}

.container ul{
    list-style: none;
}

.times {
    justify-content: flex-end;
    display: flex;
    width: 97%;
    transition: all 0.6s ease;
}

.times i {
    font-size: 45px;
    color: var(--blanco);
}



footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 30px;
    margin-bottom: 20px;
    padding-bottom: 0;
    width: 90%;
    background: var(--gris);   
}

footer p {
    font-size: 14px;
    margin:2px;
    height: auto;
}

ul.secciones {
    font-size: 20px;
    padding-bottom: 100px;
    padding-top: 10%;
    margin-right: 20%;
    width: 70%;
}

.texto-footer {
    border-left: 1px solid var(--blanco);
    color: var(--blanco);
}

footer ul li {
    font-size: 45px;
    padding-right: 14px;
    
}


.secciones li {
    margin-top: 16px;
    padding-left: 70px;
    padding-bottom: 16px;
}

.secciones a {
    text-decoration: none;
    color: var(--blanco);
    
}

.secciones a li {
    transition: 0.6s;
}

.secciones a li:hover {
    transform: scale(1.1);
    color: var(--rosa);
}

.iconos-footer {
    height: 55px;
    width: 30%;
    display: flex;
    justify-content: space-between;
    text-align: start;
    padding: 0;
    margin-bottom: 30px;
    padding-bottom: 30px;
    
}

.iconos-footer a {
    color:var(--blanco);
    text-decoration: none;
}

.iconoytexto {
    margin-left: 60px;
    padding-bottom: 30px;
    height: auto;
    padding-left: 22px;
}

#clau {
    width: 25%;
    border-radius: 100%;
    margin-right: 30px;
    height: 62%;
    margin-top: 40px;
    margin-bottom: 2%;
    object-fit: cover;
}

.facebook:hover i{
    color: var(--rosa);
}

.instagram:hover i{
    color: var(--rosa);
}

.linkedin:hover i{
    color: var(--rosa);
}

.github:hover i{
    color: var(--rosa);
}

/* Cierre del Header */

/* Acá comienza el Main */

h2 {
    margin: 8%;
    text-align: center;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
    color: var(--gris);
}

.presentacion {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding: 3%;
    padding-top: 4%;
}

.texto-secundario h3 {
    font-size: 21px;
}

.texto-secundario p {
    font-size: 19px;
}

/* Imágenes izquierda */

.container-presentacion-left {
    display: flex;
    flex-flow: row wrap;
    border-right: 2px solid var(--violetaoscuro);
    width: 100%;
    margin-bottom: 10%;
}

.container-presentacion-left .texto-secundario {
    width: 30%;
    padding-top: 3%;
    padding-left: 9%;
    text-align: end;
}

.container-left {
    width: 55%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 10px 0 #3d3b3b;
}

.container-left img {
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    -moz-transition: all 1.5s;
    -webkit-transition: all 1.5s;
    transition: all 1.9s;
    height: 100%;
}


.container-left:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

/* Imágenes derecha */

.container-presentacion-right {
    display: flex;
    flex-flow: row wrap;
    border-left: 3px solid var(--violetaoscuro);
    width: 100%;
    margin-bottom: 10%;
}

.container-presentacion-right .texto-secundario {
    width: 30%;
    padding-right: 9%;
    padding-top: 3%;
    text-align: start;
    padding-left: 4%;
}

.container-right {
    width: 55%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 10px 0 #3d3b3b;
}

.container-right img {
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    -moz-transition: all 1.5s;
    -webkit-transition: all 1.5s;
    transition: all 1.9s;
    height: 100%;
}

.container-right:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}